@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
    overflow: hidden;
}

html {
    font-family: Arial,'ヒラギノ明朝 ProN', sans-serif;
    user-select: none;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    position: relative;
}

* {
    margin: 0px
}

li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

.tooltip::before,
.tooltip::after {
  position: absolute;
  opacity: 0;
  transition: all 0.3s;
}

.WATER_CURTAIN_WATER {
    translate: -50% -50%;
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
    border-radius: 50%;
    width: 100%;
    height: 100%;
/*
    -webkit-mask: radial-gradient(
      circle at center,
      transparent calc(270px / 2 - 8px),
      white calc(270px / 2 - 8px),
      white
    );*/
}

.LED {
    position: absolute;
    translate: -50% -50%;
    /*filter: brightness(250%);*/
    opacity: 0;
}

.WATER_LIGHT {
    position: absolute;
    clip-path: polygon(30% 0, 70% 0, 100% 100%, 0 100%);
    translate: -50% -50%;
    z-index: 20;
}

.WHITE_LIGHT {
    position: absolute;
    z-index: 200;
}

.WHITE_LIGHT div {
    position: absolute;
    clip-path: polygon(20% 0, 80% 0, 100% 50%, 80% 100%, 20% 100%, 0% 50%);
    background-color: #FFFFFF;
    translate: -50% -50%;
}

.PAR_LIGHT {
    position: absolute;
    z-index: 100;
}

.PAR_LIGHT div {
    position: absolute;
    background-color: #000;
    border-radius: 50%;
    translate: -50% -50%;
}

.SPOT_LIGHT div {
    position: absolute;
    height: 0px;
    width: 0px;
    background-color: #FFDC96;
    border-radius: 50%;
    translate: -50% -50%;
    opacity: 0;
}

.AUDIENCE_LIGHT {
    filter: drop-shadow(0px 0px 6px #FFDC96);
}

.AUDIENCE_LIGHT div {
    position: absolute;
    background-color: #FFDC96;
    border-radius: 50%;
    translate: -50% -50%;
}

.STAGE_LIGHT div {
    position: absolute;
    height: 0px;
    width: 0px;
    background-color: #FFDC96;
    border-radius: 50%;
    translate: -50% -50%;
    opacity: 0;
}

.WATER_CANNON {
    position: absolute;
    background-color: #000;
    border-radius: 50%;
    translate: -50% -50%;
    z-index: 10;
}

.WATER_CANNON div {
    position: absolute;
    height: 0px;
    width: 0px;
    background-color: rgb(50,50,50);
    border-radius: 50%;
    translate: -50% -50%;
    top: 50%;
    left: 50%;
}

.MOVING_LIGHT {
    position: absolute;
    background: linear-gradient(to top, #FFFFFF 4px, #555555 4px);
    translate: -50% -50%;
}

.MOVING_LIGHT_PICTURE_PARENT {
    position: absolute;
    top: 20px;
    overflow: hidden;
    box-sizing: border-box;
}

.MOVING_LIGHT_PICTURE {
    width: 88%;
    margin-left: 6%;
    padding-bottom: 5%;
}

.MOVING_LIGHT_PICTURE p {
    color: #FFFFFF;
    font-size: 1.2vmin;
    text-align: center;
    width: 100%;
    height: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.MOVING_LIGHT_PICTURE_CONTENT {
    position: relative;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    /*background: radial-gradient(#000000 69%, #000000 69%), linear-gradient(45deg, #00FFFF 30% ,#FFFFFF 70%);*/
    translate: -50% -50%;
    top: 42%;
    left: 50%;
    /*margin-top: 84px;
    margin-left: 70px;*/
    opacity: 0;/*
    mask-image: radial-gradient(rgb(0 0 0 / 100%) 40%, rgb(0 0 0 / 0%) 65%);
    mask-composite: intersect;
    overflow: hidden;*/
}

.MOVING_LIGHT_PICTURE_SINGLEtype {
    width: 100%;
    position: absolute;
    translate: -50% -50%;
    top: 50%;
    left: 50%;
    border-radius: 50%;
}

.MOVING_LIGHT_PICTURE_CONTENT_TRIPLE {
    position: absolute;
    translate: -50% -50%;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
}

.MOVING_LIGHT_PICTURE_TRIPLEtype {
    width: 100%;
    position: absolute;
    translate: -50% -50%;
    top: 50%;
    left: 50%;
    border-radius: 50%;
}

#machine_state {
    position: absolute;
}

#machine_state div {
    height: 100%;
    aspect-ratio: 1 / 1;
    margin-bottom: 10%;
    border: 1px solid #999;
    display: flex;
    justify-content: center;
}

#machine_state img {
    height: 90%;
    display: block;
    margin: auto;
}

.LOGOBORD {
    position: absolute;
    background-color: rgb(220, 220, 220);
    display: flex;
    align-items: center;
}

.LOGOBORD img {
    width: 60%;
    margin: 0 auto;
    opacity: 1;
    transition: 1s;
    display: block;
    z-index: 100;
}

.LOGOBORD_LIGHT {
    position: absolute;
    width: 100%;
}

#SMOKE_PARENT {
    opacity: 0;
}

.SMOKE {
    position: absolute;
    translate: -50% -50%;
}

#SNOW_PARENT {
    opacity: 0;
}

.SNOW {
    position: absolute;
    translate: -50% -50%;
}

#WATER_CURTAIN {
    position: absolute;
    translate: -50% -50%;
    aspect-ratio: 1 / 1;
}

#manual {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background-color: #FFF;
    width: 80vw;
    max-width: 1000px;
    height: 90vh;
    max-height: 650px;
    z-index: 100000;
    box-shadow: 0 0 20px gray;
    display: none;
    padding: 2% 5%;
    box-sizing: border-box;
    overflow-y: scroll;
}

#manual::-webkit-scrollbar {
    width: 0.8vw;
}
  
#manual::-webkit-scrollbar-track {
    background-color: transparent;
}

#manual::-webkit-scrollbar-thumb {
    background-color: rgb(0,0,0,0.5);
    border-radius: 0.4vw;
}

#manual_background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 10000;
    display: none;
}

#manual_close {
    position: absolute;
    top: 5%;
    right: 5%;
    height: 6%;
    aspect-ratio: 1 / 1;
    border: none;
    background: transparent;
    cursor: pointer;
}

#manual_close img {
    height: 100%;
}

#manual_select {
    display: table;
    height: 10%;
    width: 90%;
    border-collapse: separate;
    border-spacing: 10px 0;
    margin-bottom: 2%;
}

#manual_select div {
    display: table-cell;
    width: 50%;
    height: 100%;
    text-align: center;
    border: 2px solid #555;
    vertical-align: middle;
    cursor: pointer;
}

#manual_select div:hover {
    background-color: #555;
    color: #FFF;
}

.manual_select_now {
    background-color: #555;
    color: #FFF;
}

#manual2 {
    display: none;
}

.manual-title {
    font-size: 2.5vw;
    font-weight: bold;
    margin-bottom: 1vh;
    margin-top: 2vh;
}

.manual-sub-title {
    font-size: 2vw;
    font-weight: bold;
    text-indent: 0.5vw;
}

.manual-content {
    display: table;
    font-size: 1.2vw;
    border-collapse:separate;
    border-spacing: 0 1.5vh;
}

.manual-content div {
    display: table-row;
}

.manual-content p {
    display: table-cell;
}

.manual-key {
    width: 20vw;
    text-indent: 1vw;
}

.manual-key span {
    padding: 1% 4%;
    color: #999;
    border: 2px solid #999;
    border-radius: 5px;
    font-weight: bold;
}

.manual-key::before {
    content: '●';
    margin-right: 1vw;
}

.manual-key img {
    height: 2vh;
}

.manual-detail::before {
    content: '…';
    margin-right: 1vw;
}

.setting {
    position: absolute;
    background-color: #ffffff;
    z-index: 100;
}

.performance {
    margin: 0 5%;
    margin-top: 3%;
    height: 4%;
    display: flex;
}

#manual_button1 {
    margin-left: auto;
}

.performance button {
    height: 100%;
    aspect-ratio: 1 / 1;
    border: none;
    background: transparent;
    cursor: pointer;
}

.performance button:hover {
    opacity: 0.6;
}

.performance img {
    height: 90%;
}

.performance-subtitle {
    display: flex;
    margin-right: 2%;
    justify-content: center;
    align-items: center;
}

#performance-title {
    font-weight: bold;
    margin: 0 5%;
    height: 8%;
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    text-overflow: ellipsis;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#performance-title::-webkit-scrollbar{
    display:none;
}

.music {
    margin: 0 5%;
    height: 8%;
    display: flex;
    align-items: center;
}

#music_number {
    margin-right: 8%;
}

#music_number span {
    font-weight: bold;
}

.music button {
    padding: 1%;
    border: none;
    background: transparent;
    height: 100%;
    aspect-ratio: 1 / 1;
    margin-right: 4%;
    cursor: pointer;
    border-radius: 20%;
}

.music button:hover {
    opacity: 0.6;
}

.music img {
    display: block;
    height: 100%;
}

.music2 {
    margin: 1% 5%;
    display: flex;
    height: 7%;
    align-items: flex-end;
}

#music_play_position {
    margin-right: 4%;
    font-weight: bold;
}

#music_length {
    margin-left: 4%;
}

#music_seconds {
    margin-right: 10%;
}

#music_vol_value {
    font-weight: bold;
    margin-right: 4%;
}

.music_vol_max {
    margin-left: 4%;
}

.performance_select {
    margin: 0 5%;
    width: 90%;
    font-size: 2vmin;
    height: 8%;
    border-radius: 10px;
    padding: 1% 2%;
    border: 1.5px solid black;
    font-family: 'Yu Gothic Medium';
}

.performance_select:hover {
    opacity: 0.6;
}

.performance_select option {
    font-family: 'Yu Gothic Medium';
    font-size: 2vmin;
}

.performance_select option :hover {
    background-color: #000;
    color: #fff;
}

.pagenumber {
    margin: 0 5%;
    display: inline-flex;
    width: 100%;
    height: 8%;
}

.pagenumber p {
    margin-right: 8%;
}

.dn {
    width: 30%;
}

#dn {
    font-weight: bold;
}

#mainnowpage , #subnowpage {
    font-weight: bold;
    margin: 0 5%;
}

#maintotalpage , #subtotalpage {
    font-size: 2vmin;
    margin-left: 5%;
}

#script_setting {
    margin: 1% 5%;
    margin-top: 4%;
    height: 5%;
    display: flex;
}

#script_setting input {
    cursor: pointer;
    margin-right: 2%;
}

#script_setting label {
    cursor: pointer;
    align-items: center;
    display: flex;
    width: 100%;
}

#script_setting label:hover {
    opacity: 0.6;
}

#manual_button2 {
    margin-left: auto;
    height: 100%;
    border: 1px solid black;
    background: transparent;
    cursor: pointer;
    border-radius: 4px;
    align-items: center;
    display: flex;
}

#manual_button2:hover {
    background-color: #DDD;
}

#script {
    margin: 0 5%;
    margin-bottom: 3%;
    width: 90%;
    overflow-y: auto;
    border: 1px black solid;
    border-radius: 5%;
}

#script::-webkit-scrollbar {
    width: 8px;
}
  
#script::-webkit-scrollbar-track {
    background-color: transparent;
}

#script::-webkit-scrollbar-thumb {
    background-color: rgb(0,0,0,0.5);
    border-radius: 4px;
}

#script_error {
    display: flex;
    height: 100%;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.scriptListContent {
    display: table;
    padding: 2% 5%;
    width: 100%;
    box-sizing: border-box;
}

.scriptListContent0 {
    background-color: #FFF;
}

.scriptListContent0 {
    background-color: rgb(220, 240, 255);
}

.scriptImg , .scriptMusic , .scriptTime , .scriptKey {
    display: table-cell;
    vertical-align: middle;
}

.scriptImg {
    width: 5%;
}

.scriptImg img {
    width: 100%;
}

.scriptMusic {
    width: 10%;
    text-align: center;
}

.scriptTime {
    margin-right: 2%;
    width: 40%;
    text-align: center;
}

.scriptKey p {
    padding: 5% 0;
}

.scriptKeySpan {
    padding: 1% 4%;
    color: #999;
    border: 2px solid #999;
    border-radius: 5px;
    font-weight: bold;
}

.scriptPattern1 {
    color: blue;
    font-family: "MSゴシック";
    margin-right: 5%;
}

.scriptPattern2 {
    color: red;
    font-family: "MSゴシック";
    margin-right: 5%;
}

.scriptPattern3 {
    color: green;
    font-family: "MSゴシック";
    margin-right: 5%;
}

.scriptPattern4 {
    color: orange;
    font-family: "MSゴシック";
    margin-right: 5%;
}

#scriptDefult {
    display: none;
}

.logodisplay {
    visibility: hidden;
    opacity: 0;
    transition: 1s;
    margin: 4px 0;
    margin-bottom: 30px;
}

.MOVING_LIGHT_DOUBLE_PICTURE_HIDE {
    background-color: #000;
    position: absolute;
}

.MOVING_LIGHT_DOUBLE_PICTURE_HIDE_NUMBER_0 {
    top: 0;
    right: 0;
}

.MOVING_LIGHT_DOUBLE_PICTURE_HIDE_NUMBER_1 {
    bottom: 0;
    left: 0;
}

.MOVING_LIGHT_DOUBLE_PICTURE_IMG {
    position: absolute;
    aspect-ratio: 1 / 1;
    bottom: 0;
    right: 0;
}

.MOVING_LIGHT_DOUBLE_PICTURE_IMG img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


